.dashboard-container {
  padding: 10px;
}
.jam_container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.jam {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  background-color: rgba(0, 0, 0, 0.5);
  width: 200px;
  padding: 10px;
  color: white;
}

.dashboard-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.dashboard-title h1 {
  color: #f2f2f2;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}
.dashboard-title .jam {
  color: white;
}

.dashboard-title p {
  margin: 0;
  color: #c89428;
}
.dashboard-title p b {
  color: rgb(224, 244, 75);
}

.dashboard-table th,
.dashboard-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.dashboard-table th {
  background-color: #393e46;
  color: #f2f2f2;
}

.dashboard-table th:hover {
  background-color: #f2f2f2;
  color: #393e46;
}

.dashboard-table td {
  font-weight: 700;
  background-color: #f2f2f2;
}

.dashboard-table tr:hover td {
  background-color: rgb(187, 187, 187);
  color: #393e46;
}
button {
  background-color: #393e46;
  color: #f2f2f2;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
  margin-top: 20px;
}

button:hover {
  background-color: #f2f2f2;
  color: #393e46;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.search-container {
  margin-top: 10px;
}
.search-container input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #393e46;
  margin-right: 10px;
  font-size: 16px;

  background-color: #f2f2f2;
  color: #393e46;
  transition: background-color 0.3s ease;
}
footer {
  background-color: #393e46;
  opacity: 0.8;
  color: #f2f2f2;
  text-align: center;
  padding: 5px;
}
